{
  "prover_private_keys": [
    "<watchtower-private-key-1>",
    "<watchtower-private-key-2>",
    "<watchtower-private-key-3>"
  ],
 
  "operator_private_key": "<operator-private-key>",
  "eth_rpc_url": "https://rpc.witnesschain.com",
}
